<main>
  <section class="login-form">
    <div class="login-box">
      <div class="row">
        <h2>Welcome</h2>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <fieldset>
          <label for="email">Email Address</label>
          <input id="email" type="email" formControlName="email">
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password">
        </fieldset>
        <button type="submit">Login</button>
      </form>
    </div>
  </section>
  <section class="login-image">
  </section>
</main>
