<header class="head">
  <div class="head-left">
    <h1>Projects</h1>
  </div>
  <div class="head-right">
    <button class="button primary" (click)="createProjectModalOpen()">
      <svg viewBox="0 0 15 18" width="15" height="18">
        <path fill="#fff" fill-rule="evenodd" d="M7.5 1.5a.75.75 0 0 1 .75.75V8H14a.75.75 0 0 1 .75.75.75.75 0 0 1-.75.75H8.25v5.75a.75.75 0 0 1-.75.75.75.75 0 0 1-.75-.75V9.5H1a.75.75 0 0 1-.75-.75A.75.75 0 0 1 1 8h5.75V2.25a.75.75 0 0 1 .75-.75z"/>
      </svg>
      <span>Create project</span>
    </button>
  </div>
</header>

<div class="row">
  <ul class="projects">
    <li *ngFor="let project of projects">
      <a class="project" [routerLink]="project.id">
        <h2>{{ project.name }}</h2>
        <p>{{ project.articles }} Articles</p>
        <p>{{ project.createdAt | date }}</p>
      </a>
    </li>
    <li *ngIf="projects.length < 1"><div class="project-empty"></div></li>
    <li *ngIf="projects.length < 2"><div class="project-empty"></div></li>
    <li *ngIf="projects.length < 3"><div class="project-empty"></div></li>
  </ul>
</div>

<add-project-modal (create)="newProject($event)" #createProjectModal></add-project-modal>
