<header class="head">
  <div class="head-left">
    <h1>Projects</h1>
  </div>
  <div class="head-right">
    <button class="button primary" (click)="createProject()">Create project</button>
  </div>
</header>

<div class="row">
  <ul class="projects">
    <li *ngFor="let project of projects">
      <a class="project" [routerLink]="project.id">
        <h2>{{ project.name }}</h2>
      </a>
    </li>
    <li *ngIf="projects.length < 1"><div class="project-empty"></div></li>
    <li *ngIf="projects.length < 2"><div class="project-empty"></div></li>
    <li *ngIf="projects.length < 3"><div class="project-empty"></div></li>
  </ul>
</div>

<add-project-modal (create)="newProject($event)" #createProjectModal></add-project-modal>
