.header {
  background: white;
  width: 100%;
  height: 60px;
}

.header .logo {
  width: 96px;
  height: 40px;
  margin: 10px 20px;
  display: inline-block;
  float: left;
}

.header .user {
  width: auto;
  height: 40px;
  margin: 10px 20px;
  display: inline-block;
  float: right;
}

.header .user p {
  display: inline-block;
  vertical-align: middle;
  font: 16px/40px sans-serif;
  color: #2D3E4D;
}

.header .user span {
  background: #2DA3C3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  font: 18px/40px sans-serif;
  text-align: center;
  color: white;
}
