<main class="content">

  <header class="header">
    <h1>Katalog</h1>
  </header>

  <section class="zone" *ngIf="!start">
    <h2>Copy your product IDs and Paste them in here</h2>
    <button class="button primary" (click)="paste()">Paste Product IDs</button>
  </section>

  <section class="list" *ngIf="start">
    <ul class="products">
      <li *ngFor="let product of products">
        <div class="product" *ngIf="product.status === 'SUCCESS' && product.data">
          <div class="product-head">
            <img [src]="product.data.imageUrl">
          </div>
          <div class="product-body">
            <h2>{{ product.data.name }}</h2>
            <p>{{ product.data.id }}</p>
            <p>{{ product.data.manufacturer }}</p>
            <button class="button success" (click)="download(product.id)">Download FDV</button>
          </div>
        </div>
        <div class="product error" *ngIf="product.status === 'ERROR'">
          <div class="product-head">
          </div>
          <div class="product-body">
            <h2>{{ product.id }}</h2>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="product loader" *ngIf="product.status === 'QUEUE'">
          <div class="product-head">
          </div>
          <div class="product-body">
            <h2>{{ product.id }}</h2>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

</main>
