:host {
  width: 100%;
  max-width: 1440px;
  padding: 40px 0 0;
  margin: 0 auto;
  display: block;
}

form {
  margin: 50px 0;
}

form textarea {
  height: 100px;
  padding: 6px 15px 5px;
  border: 1px solid black;
}

form button {
  background: lightblue;
  padding: 6px 15px 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

form input + button {
  margin-left: 20px;
}


.articles1 {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.articles1 li {
  width: calc(20% - 16px);
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;

  &:nth-child(5n+1) { margin-left: 0; }
  &:nth-child(-n+5) { margin-top: 0; }
}

.article1 {
  background: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.article1.QUEUE {
  background: fade(#DFDFF4, 60%);
  border-color: #A79CDF;
  //animation: anim-queue 1s ease-in-out alternate infinite;
}

@keyframes anim-queue {
  from { background: fade(#DFDFF4, 20%); transform: scale(1.01); }
  to { background: fade(#DFDFF4, 80%); transform: scale(0.95); }
}

.article1.ERROR {
  background: fade(#F8E4E7, 60%);
  border-color: #F5828C;
}

.article1.PARTIAL {
  background: fade(#F8E7CD, 60%);
  border-color: #F9C274;
}

.article1.SUCCESS {
  background: fade(#DEF3DC, 60%);
  border-color: #87CC80;
}

.article1-head {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.article1-head .img-error {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.article1-head .loading {
  width: 120px;
  height: 120px;
  border: 2px solid #A79CDF;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: -60px;
  animation: anim-rotate 3s linear infinite;
}

.article1-head .img-success {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

@keyframes anim-rotate {
  0%   { transform: rotate(0deg); opacity: 1; }
  25%  { transform: rotate(360deg); opacity: 0.6; }
  50%  { transform: rotate(720deg); opacity: 0.2; }
  75%  { transform: rotate(1080deg); opacity: 0.6; }
  100% { transform: rotate(1440deg); opacity: 1; }
}

.article1-body {
  height: 70px;
  margin-top: 10px;
  text-align: center;
}

.article1-body h1 {
  font: 600 18px var(--font);
  color: #2D3E4D;
}

.article1-body p {
  margin-top: 4px;
  font: 15px/22px var(--font);
  color: #2D3E4D;
}




.articles {
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.articles li {
  width: calc(20% - 16px);
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;

  &:nth-child(5n+1) { margin-left: 0; }
  &:nth-child(-n+5) { margin-top: 0; }
}

.article {
  background: lightgrey;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.article.QUEUED {
  background: fade(#E2F1F8, 60%);
  border-color: #78CCE5;
}

.article.SUCCESS {
  background: fade(#E2F1F8, 60%);
  border-color: #78CCE5;
}

.article.SUCCESS.PARTIAL {
  background: fade(#F8E7CD, 60%);
  border-color: #F9C274;
}

.article.DUPLICATE {
  background: fade(#DFDFF4, 60%);
  border-color: #A79CDF;
}

.article.MISSING {
  background: fade(#F8E4E7, 60%);
  border-color: #F5828C;
}

.article-head {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.article-head img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.article-body {
  flex: 1;
}

.article-foot {
}



.article p {
  margin-bottom: 3px;
  font: 15px/20px 'Proxima';
}

.article select {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
}







