:host {
  width: 100%;
  max-width: 1440px;
  padding: 40px 0 0;
  margin: 0 auto;
  display: block;
}

form {
  margin: 50px 0;
}

form textarea {
  height: 100px;
  padding: 6px 15px 5px;
  border: 1px solid black;
}

form button {
  background: lightblue;
  padding: 6px 15px 5px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

form input + button {
  margin-left: 20px;
}


.articles {
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
}

.articles li {
  width: calc(20% - 16px);
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;

  &:nth-child(5n+1) { margin-left: 0; }
  &:nth-child(-n+5) { margin-top: 0; }
}

.article {
  background: lightgrey;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.article.QUEUED {
  background: fade(#E2F1F8, 60%);
  border-color: #78CCE5;
}

.article.SUCCESS {
  background: fade(#E2F1F8, 60%);
  border-color: #78CCE5;
}

.article.SUCCESS.PARTIAL {
  background: fade(#F8E7CD, 60%);
  border-color: #F9C274;
}

.article.DUPLICATE {
  background: fade(#DFDFF4, 60%);
  border-color: #A79CDF;
}

.article.MISSING {
  background: fade(#F8E4E7, 60%);
  border-color: #F5828C;
}

.article-head {
  width: 100%;
  padding-top: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.article-head img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.article-body {
  flex: 1;
}

.article-foot {
}



.article p {
  margin-bottom: 3px;
  font: 15px/20px 'Proxima';
}

.article select {
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
}







