* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

body {
  background: #F9F9F9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul, ol {
  list-style: none;
}

.content {
  background: white;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 64px;
  box-sizing: border-box;
  margin: 0 auto;
}

@keyframes anim-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background: #383C3E;
  padding: 8px 20px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.button.success {
  background: #4DB142;
}

.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.25;
  color: transparent;
}

.button.loading:after {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
  animation: anim-rotate 0.5s linear infinite;
}

.button.primary {
  background: #655AA8;
}

.button.success {
  background: #4DB142;
}

@keyframes anim-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.zone {
  background: fade(#DFDFF4, 50%);
  width: 100%;
  padding: 50px;
  border: 1px dashed #655AA8;
  box-sizing: border-box;
  text-align: center;
}

.zone h2 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 24px;
  lien-height: 36px;
  color: #655AA8;
}

.list {
  padding-bottom: 40px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.products li {
  width: calc(25% - 30px);
  margin: 40px 0 0 40px;
}

.products li:nth-child(4n+1) {
  margin-left: 0;
}

.products li:nth-child(-n+4) {
  margin-top: 0;
}

.product {
  background: fade(#E2F1F8, 50%);
  width: 100%;
  border: 1px solid #2DA3C3;
  box-sizing: border-box;
  position: relative;
}

.product-head {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.product-head img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}

.product-body {
  padding: 12px 16px;
}

.product-body h2 {
  overflow: hidden;
  font-size: 20px;
  line-height: 36px;
  color: #22303A;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-body p {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: #4B5C6A;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-body .button {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.product.loader .product-head:after {
  content: '';
  width: 100px;
  height: 100px;
  border: 2px solid #78CCE5;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  animation: anim-rotate 0.5s linear infinite;
}

.product.loader .product-body h2 {
  text-align: center;
}

.product.error {
  background: fade(#F8E4E7, 50%);
  border-color: #D6364E;
  text-align: center;
}




















