@font-face {
  font-family: 'Proxima';
  font-weight: normal;
  src: url('/assets/fonts/proxima-regular.eot');
  src: url('/assets/fonts/proxima-regular.woff2') format('woff2'),
    url('/assets/fonts/proxima-regular.woff') format('woff'),
    url('/assets/fonts/proxima-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 500;
  src: url('/assets/fonts/proxima-medium.eot');
  src: url('/assets/fonts/proxima-medium.woff2') format('woff2'),
    url('/assets/fonts/proxima-medium.woff') format('woff'),
    url('/assets/fonts/proxima-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 600;
  src: url('/assets/fonts/proxima-semibold.eot');
  src: url('/assets/fonts/proxima-semibold.woff2') format('woff2'),
    url('/assets/fonts/proxima-semibold.woff') format('woff'),
    url('/assets/fonts/proxima-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima';
  font-weight: bold;
  src: url('/assets/fonts/proxima-bold.eot');
  src: url('/assets/fonts/proxima-bold.woff2') format('woff2'),
    url('/assets/fonts/proxima-bold.woff') format('woff'),
    url('/assets/fonts/proxima-bold.ttf') format('truetype');
}

:root {
  --font: 'Proxima', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
}

body {
  background: #F2F4F5;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main,
header,
section,
footer {
  display: block;
}

ul, ol {
  list-style: none;
}

svg {
  display: block;
}

.content {
  background: white;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0 64px;
  box-sizing: border-box;
  margin: 0 auto;
}

@keyframes anim-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
  background: #777C80;
  padding: 9px 16px 7px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  user-select: none;
  font: 600 15px/20px 'Proxima';
  color: white;
  text-decoration: none;
  transition: all 0.12s ease-out;

  &:hover {
    background: #92979A;
    box-shadow: 0 2px 4px fade(black, 8%), 0 0 2px fade(black, 8%);
  }

  &:active {
    background: #92979A;
    box-shadow: 0 4px 6px fade(black, 16%), 0 0 2px fade(black, 12%);
  }
}

.button.primary {
  background: #655AA8;

  &:hover,
  &:active {
    background: #826FD1;
  }
}

.button.success {
  background: #47963B;

  &:hover,
  &:active {
    background: #4DB142;
  }
}

.button.warning {
  background: #E6A228;

  &:hover,
  &:active {
    background: #F9AA38;
  }
}

.button.danger {
  background: #D6364E;

  &:hover,
  &:active {
    background: #F33F51;
  }
}

.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  color: transparent;
}

.button.loading:after {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
  animation: anim-rotate 0.5s linear infinite;
}

@keyframes anim-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.button svg path {
  fill: currentColor;
}

.button svg + span {
  margin-left: 8px;
}

.dropdown {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.dropdown nav {
  display: none;
}

.dropdown .button.active + nav {
  background: white;
  width: 200px;
  padding: 4px 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px fade(black, 25%);
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  margin-top: 4px;
}

.dropdown nav a {
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  font: 16px/24px var(--font);
  color: #2D3E4D;
  text-align: left;
  white-space: nowrap;
}

.dropdown nav a:hover {
  background: #E0F4F9;
}




fieldset {
  position: relative;
}

fieldset label {
  margin-bottom: 3px;
  display: block;
  font: 14px/20px var(--font);
  color: #4B5C6A;
}

fieldset input {
  width: 100%;
  padding: 7px 10px 5px;
  border: 1px solid #C8CCCE;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  font: 15px var(--font);
  color: #2D3E4D;
}

fieldset textarea {
  width: 100%;
  height: 150px;
  padding: 7px 10px 5px;
  border: 1px solid #C8CCCE;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  resize: none;
  font: 15px var(--font);
  color: #2D3E4D;
}

fieldset select {
  width: 100%;
  padding: 7px 10px 5px;
  border: 1px solid #C8CCCE;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  font: 15px var(--font);
  color: #2D3E4D;
}

fieldset .errors {
  margin-top: 1px;
  display: none;
}

fieldset .errors li {
  font: 13px/18px var(--font);
  color: #F33F51;
}

fieldset input.ng-invalid.ng-touched ~ .errors {
  display: block;
}

fieldset select + .errors {
  display: block;
}















.head {
  margin-bottom: 40px;
  display: flex;
}

.head-left {
  flex: 1;
}

.head-right {
  flex-shrink: 0;
}

.head .back {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNiIgaGVpZ2h0PSIzNiIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTE4IDVDMTAuODIgNSA1IDEwLjgyIDUgMThzNS44MiAxMyAxMyAxMyAxMy01LjgyMSAxMy0xM1MyNS4xNzkgNSAxOCA1em0yLjU4NyAxOC45MTFhMS4yMSAxLjIxIDAgMCAxLTEuNzE2IDBsLTQuODc5LTQuODc5Yy0uMDczLS4wNDctLjE0Mi0uMS0uMjA1LS4xNjMtLjI0Mi0uMjQyLS4zNTktLjU2Mi0uMzUzLS44NzktLjAwNi0uMzE4LjExMS0uNjM3LjM1My0uODc5LjA2NC0uMDYzLjEzMy0uMTE3LjIwNS0uMTYzbDQuODU3LTQuODU3Yy40NzQtLjQ3NCAxLjI0My0uNDc0IDEuNzE3IDBzLjQ3NCAxLjI0MiAwIDEuNzE3bC00LjE4MyA0LjE4MyA0LjIwNCA0LjIwNWMuNDc0LjQ3NC40NzQgMS4yNDIgMCAxLjcxN3oiIGZpbGw9IiMyZDNlNGQiLz48L3N2Zz4=');
  width: 36px;
  height: 36px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  cursor: pointer;
}

.head h1 {
  display: inline-block;
  vertical-align: middle;
  font: bold 32px/36px var(--font);
  color: #22303A;
}

.head .button + .button,
.head .button + .dropdown,
.head .dropdown + .button,
.head .dropdown + .dropdown {
  margin-left: 12px;
}






.zone {
  background: fade(#DFDFF4, 50%);
  width: 100%;
  padding: 50px;
  border: 1px dashed #655AA8;
  box-sizing: border-box;
  text-align: center;
}

.zone h2 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 24px;
  lien-height: 36px;
  color: #655AA8;
}

.list {
  padding-bottom: 40px;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.products li {
  width: calc(25% - 30px);
  margin: 40px 0 0 40px;
}

.products li:nth-child(4n+1) {
  margin-left: 0;
}

.products li:nth-child(-n+4) {
  margin-top: 0;
}

.product {
  background: fade(#E2F1F8, 50%);
  width: 100%;
  border: 1px solid #2DA3C3;
  box-sizing: border-box;
  position: relative;
}

.product-head {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.product-head img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}

.product-body {
  padding: 12px 16px;
}

.product-body h2 {
  overflow: hidden;
  font-size: 20px;
  line-height: 36px;
  color: #22303A;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-body p {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: #4B5C6A;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-body .button {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.product.loader .product-head:after {
  content: '';
  width: 100px;
  height: 100px;
  border: 2px solid #78CCE5;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  animation: anim-rotate 0.5s linear infinite;
}

.product.loader .product-body h2 {
  text-align: center;
}

.product.error {
  background: fade(#F8E4E7, 50%);
  border-color: #D6364E;
  text-align: center;
}









.confirm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

.confirm-bg {
  background: linear-gradient(135deg, fade(#6588F2, 50%) 0%, fade(#923DF1, 20%) 100%);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.confirm-box {
  background: white;
  width: 500px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 30px fade(black, 5%);
  display: block;
  position: relative;
  text-align: center;
}

.confirm-box h2 {
  font: 500 24px/32px var(--font);
  color: #2D3E4D;
}

.confirm-box p {
  margin: 8px 0 12px;
  font: 14px/20px var(--font);
  color: #8797A3;
}

.confirm-box button {
  width: 120px;
}

.confirm-box button + button {
  margin-left: 20px;
}





.modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
}

.modal-bg {
  background: linear-gradient(135deg, fade(#6588F2, 50%) 0%, fade(#923DF1, 20%) 100%);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-box {
  background: white;
  width: 500px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 30px fade(black, 5%);
  display: block;
  position: relative;
}

.modal-head {
  padding-bottom: 40px;
  position: relative;
}

.modal-head h2 {
  font: 500 24px/32px var(--font);
  color: #2D3E4D;
}

.modal-head p {
  font: 14px/20px var(--font);
  color: #8797A3;
}

.modal-head .close {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTE3Ljg4IDE2bDUuNzMzLTUuNzJhMS4zNCAxLjM0IDAgMCAwIDAtMS44OTMgMS4zNCAxLjM0IDAgMCAwLTEuODkzIDBMMTYgMTQuMTJsLTUuNzItNS43MzNhMS4zNCAxLjM0IDAgMCAwLTEuODkzIDAgMS4zNCAxLjM0IDAgMCAwIDAgMS44OTNMMTQuMTIgMTZsLTUuNzMzIDUuNzJhMS4zMyAxLjMzIDAgMCAwLS4yOTIuNDM0Yy0uMDY4LjE2My0uMTAzLjMzNy0uMTAzLjUxM3MuMDM1LjM1LjEwMy41MTNhMS4zMyAxLjMzIDAgMCAwIC4yOTIuNDM0Yy4xMjQuMTI1LjI3MS4yMjQuNDM0LjI5MnMuMzM3LjEwMi41MTMuMTAyLjM1LS4wMzUuNTEzLS4xMDIuMzEtLjE2Ny40MzQtLjI5MkwxNiAxNy44OGw1LjcyIDUuNzMzYy4xMjQuMTI1LjI3MS4yMjQuNDM0LjI5MnMuMzM3LjEwMi41MTMuMTAyLjM1LS4wMzUuNTEzLS4xMDIuMzEtLjE2Ny40MzQtLjI5MmExLjMzIDEuMzMgMCAwIDAgLjI5Mi0uNDM0Yy4wNjgtLjE2My4xMDItLjMzNy4xMDItLjUxM3MtLjAzNS0uMzUtLjEwMi0uNTEzYTEuMzMgMS4zMyAwIDAgMC0uMjkyLS40MzRMMTcuODggMTZ6IiBmaWxsPSIjMmQzZTRkIi8+PC9zdmc+');
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: absolute;
  right: -4px;
  top: 0;
  opacity: 0.5;
  transition: all 0.15s ease-out;
}

.modal-head .close:hover {
  opacity: 1;
}

.modal-foot {
  padding-top: 40px;
  position: relative;
  text-align: right;
}

.modal-foot button + button {
  margin-left: 12px;
}

.modal-article {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 3px 30px fade(black, 5%);
  display: block;
  position: relative;
}

.modal-article-head {
  background: #F5F7F7;
  width: 100%;
  height: 250px;
  padding: 20px;
  border-radius: 12px 12px 0 0;
  box-sizing: border-box;
}

.modal-article-head > div {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

.modal-article-head img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.modal-article-body {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.modal-article-body p {
  font: 16px/22px var(--font);
  color: #2D3E4D;
}

.modal-article-body h2 {
  margin: 4px 0 8px;
  font: 600 20px/28px var(--font);
  color: #2D3E4D;
}

.modal-article-foot {
  width: 100%;
  padding: 12px 20px 20px;
  box-sizing: border-box;
  text-align: right;
}

.modal-article-foot button + button {
  margin-left: 8px;
}



ngx-stripe-card {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #C8CCCE;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
}

.card-error {
  margin-top: 8px;
  font: 500 14px/20px 'Proxima';
  color: #F33F51;
}
















